/****************************************************************Navbar*************************************************************************/
.navbar-brand {
  display: flex;
  align-items: normal;
}
.navbar-brand>img {
  padding: 7px 14px;
}


/****************************************************************Navbar*************************************************************************/
/************************************************************Login secured**********************************************************************/
.back {
  background: #e2e2e2;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}
.btn btn-primary{
color: green;
}
/************************************************************Login secured**********************************************************************/

.nav-padding {
  padding: 0px 30px;
}
